<%- partial('_partial/header.ejs') %>

<header class="blog-header<% if (page.tag && page.tag.feature_image) { %> has-cover<% } %>">
    <div class="inner">
        <div class="archive archive-tag box archive-box">
            <span class="archive-info">
                <span class="archive-type"><%= __('Topic') %></span>
                <span class="archive-count"><%= page.posts.length ? (page.posts.length > 1 ? __('%d Posts', page.posts.length) : __('%d Post', page.posts.length)) : __('No Posts') %></span>
            </span>
            <h2 class="archive-title"><%= page.tag ? page.tag.name : '' %></h2>
            <% if (page.tag && page.tag.description) { %>
                <span class="archive-description"><%= page.tag.description %></span>
            <% } %>
        </div>

        <% if (page.tag && page.tag.feature_image) { %>
        <div class="blog-cover cover">
            <img
            srcset="<%= url_for(page.tag.feature_image) %> 320w,
                    <%= url_for(page.tag.feature_image) %> 640w,
                    <%= url_for(page.tag.feature_image) %> 960w,
                    <%= url_for(page.tag.feature_image) %> 1920w"
            src="<%= url_for(page.tag.feature_image) %>"
            alt="<%= config.title %>" />
        </div>
        <% } %>
    </div>
</header>

<div id="index" class="container">
    <main class="content" role="main">
        <% for (var i = 0; i < page.posts.data.length; i++) { %>
            <%- partial('_partial/article.ejs', {post: page.posts.data[i]}) %>
        <% } %>
    </main>
</div>

<%- partial('_partial/footer.ejs') %>
